.error-message-container {
    display: flex;
    margin-top: -4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-message-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}